*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
img{
    width: 100%;
}

header{}
.logo{}
.logo img{
    width: 150px;
    margin: auto;
    display: block;
}


.hero-banner{
    background-image: url("images/back.jpg");
    background-size: cover;
    background-color: yellowgreen;
}
.menu{
    background-color: #000;
}
.menu ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}
.menu ul li{}
.menu ul li a{
    padding: 13px 28px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    display: block;
    text-transform: uppercase;
}


.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 70vh;
    align-items: center;
}

.center {}

.center {}
.center h1{
    text-transform: uppercase;
    font-size: 50px;
}

.service-section01{}
h2{
    text-align: center;
    padding: 50px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
p{}
.colum_1_2{
    flex-basis: 50%;
}
.colum_1_2 p{
    padding: 60px;
    color: #000;
    font-size: 22px;
}
.colum_1_2 img{height: 350px;}


footer{
    background-color: #000;
}
.footer-flex{
}
.footer-flex ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}
.footer-flex ul li{}
.footer-flex ul li a{
    text-decoration: none;
    color: #fff;
    padding: 0px 20px;
    padding-top: 35px;
    display: block;
    padding-bottom: 20px;
    font-size: 12px;
}
.footer-flex01 ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}
.footer-flex01 ul li a{
    color: #fff;
    text-decoration: none;
    padding: 0px 20px;
    padding-bottom: 35px;
    display: block;
    font-size: 12px;
}

